 <!-- About Section 

<a href=""><font color="blue"> </font>

</a>-->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                 <p>Stack & Tier services gets it's name from a hybrid ability to support a <a href="https://en.wikipedia.org/wiki/Solution_stack"><font color="blue">solution stack </font></a>, <a href="https://en.wikipedia.org/wiki/OSI_model"><font color="blue">hardware & networks</font></a>. 
                  This organization is a Sole Propritorship with <a href="https://www.linkedin.com/in/karl-erdmann-67885712"><font color="blue">Karl Erdmann</font></a> as the Principle. 
                 Karl has a background in small to medium businesses working with
                  </p>
                </div>
                <div class="col-lg-4">
                    <p>
                       system administrators, developers, general technical support, and solutions consulting.
                     Clients range from a medium size high tech firms to entry level computer users.
                     Services have a 100% satisfaction guarantee. Insights are influenced by experts in the field ranging from designated experts, i.e. <a href="https://developers.google.com/experts/become-an-expert"><font color="blue">Google Experts</font></a>, to practitioners in various industries that collaborate in <a href="http://www.oreilly.com/conferences/"><font color="blue">conferences</font></a>. 
                   </p>
                </div>
             <br>
              <br>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                 <br>
              <br>
               <h6 style="font-size:250%; text-transform: lowercase;text-align:left"> 
                 <p>Areas of expertise</p><p>
                 -Computer & Network - Hardware & Software setup, troubleshooting, maintenance, testing, support, security, encryption, backup, and recovery (expert in Windows, intermediate in Mac OS & Linux environments).</p><p>
                 -General consulting in information systems & technology, data to information management (from relational databases to data management tools- sheets & excel),  & process diagramming 
                (<a href="https://en.wikipedia.org/wiki/Unified_Modeling_Language"><font color="blue">UML</font></a> & <a href="https://en.wikipedia.org/wiki/Business_Process_Model_and_Notation"><font color="blue">BPMN</font></a>), Business Inteligence, (IoT or EoT) infrastructure planning, 1-on-1 training.
                  </p><p> 
                 -Consulting & Support in accounting software and tools- advanced in data & information programs Excel / Google Sheets (Function Programming- Formulas, Pivot Table, Charts, API, Macros / Scripts), QuickBooks, and Wave Accounting (lean & robust - double entry system), <a href="https://drive.google.com/file/d/0B7hAm2zcAccQanp6VnNNOUI4czZtTVR0czFFZGF4OHhveERJ/view?usp=sharing"><font color="blue">certified</font></a> in Freshbook (single entry). IRS compliance and tax planning, jounral entries, bank feed integration, COA (Chart of Accounts) or Item rules, reconcilations, payroll, finance metrics and budgeting. 
                 -Smart home (IoT & IoE) planning, techniques, technologies, setup, maintenance, etc.</p><p>
                 -Software multi tenancy implementation, PaaS and network distributed versioning control implementation and auto deployment. Web development, static to dynamic sites,project hosting, API integration.</p><p>
                 -Productivity tools; system & memory management solutions,  & analysis, charting & report development and solutions, local and cloud organization solutions, data collection, virtual network computing, SEO, Adwords, Google Developer Products (Charts, Scripts, Analytics, etc), mail digitization, e-commerce, financial services, authentication.</p><p>
                 -Consumer entertainment: media management solutions, network distributed DLNA hardware, DVR software, matrix switch setup.
                                  </p>
                 </h6>
                    <!--<a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>-->
                </div>
            </div>
        </div>
    </section>
