 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                 <p>Stack & Tier services gets it's name from a hybrid ability to support a <a href="https://en.wikipedia.org/wiki/Solution_stack"><font color="blue">solution stack </font></a>, <a href="https://en.wikipedia.org/wiki/OSI_model"><font color="blue">hardware & networks</font></a>. 
                  This organization is a Sole Propritorship with <a href="https://www.linkedin.com/in/karl-erdmann-67885712"><font color="blue">Karl Erdmann</font></a> as the Principle. 
                 Karl has a background in small to medium businesses working with
                  </p>
                </div>
                <div class="col-lg-4">
                    <p>
                       system administrators, developers, general technical support, and solutions consulting.
                     Clients range from a medium size high tech firms to entry level computer users.
                      Services have a 100% satisfaction guarantee.
                   </p>
                </div>
             <br>
              <br>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                 <br>
              <br>
                 <p>
                  Areas of expertise</p><p>
                  -General consulting in information systems & technology, Business Inteligence, (IoT or EoT) infrastructure planning, 1-on-1 training.</p><p>
                 -Hardware and Software setup & support (mainly in Windows environments); hardware troubleshooting, software maintenance and testing, security, encryption, backup, and recovery.</p><p>
   -Network troubleshooting, setup, and maintenance.</p><p>
   -Smart home planning, techniques, technologies, setup, maintenance, etc.</p><p>
   -Software multi tenancy implementation, PaaS and network distributed versioning control implementation and auto deployment. Web development, static to dynamic sites,project hosting, API integration.</p><p>
   -Productivity tools; information process flow diagramming & analysis, charting & report development and solutions, local and cloud organization solutions, data collection, virtual network computing, SEO, Adwords, Google Developer Products (Charts, Scripts, Analytics, etc), mail digitization, e-commerce, financial services, authentication.</p><p>
   -Consumer entertainment: media management solutions, network distributed DLNA hardware, DVR software, matrix switch setup.
                    </p>
                    <!--<a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>-->
                </div>
            </div>
        </div>
    </section>
