 <!-- About Section 
Stack & Tier gets the name from the wide spectrum of services available; consulting, design, deployment, installation, testing, & support (<a href="https://en.wikipedia.org/wiki/Technical_support#Multi-tiered_technical_support"><font color="blue">multi-tiered</font></a>), for a variety of <a href="https://en.wikipedia.org/wiki/Solution_stack"><font color="blue">stacks</font></a>, <a href="https://en.wikipedia.org/wiki/OSI_model"><font color="blue">hardware & networks</font></a>. 
</p>
                </div>
                <div class="col-lg-4">
                    <p>
<a href=""><font color="blue"></font></a>
<a href=""><font color="blue"></font></a>
<a href=""><font color="blue"></font></a>

</a>-->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12-offset-2 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4-offset-2 text-center">
                 <p>Stack & Tier is a handyman service organization that focuses on small scale repairs and renovations, and is structured as a sole proprietorship. <a href="http://stacktier.org/resume"><font color="blue">Karl</font></a> has a background in residential and commercial projects working with general and speciality contractors, various tradesmen, and developers. Services have a 100% satisfaction guarantee.
                 A recent background check ran from <a href="https://accuratebackground.com/products/background-screening/background-screening/"><font color="blue">Accurate Background</font></a> and see a few 3rd party verified customer reviews <a href="https://www.amazon.com/localservices/ya/sellerprofile/ref=vas_sc_spp_A3626NNLQCERB7?sellerID=A3626NNLQCERB7#amazon-reviews">here</a>.   
                 <!-- Insights are influenced by designated experts, i.e. <a href="https://developers.google.com/experts/become-an-expert"><font color="blue">Google Experts</font></a>, 
collaborative forums, <a href="http://www.oreilly.com/conferences/"><font color="blue">conferences</font></a>, etc. 
-->              
                 </p>
                </div>
             <br>
              <br>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                 <br>
              <br>
               <h6 style="font-size:250%; text-transform: lowercase;text-align:left"> 
                 <p>Areas of expertise</p><p>
                - Handyman services; project consulting & implementation, installation, assembly, and repair.  
                <a href="http://furtheroutt.blogspot.com/2016/06/tales-of-tiny.html"><font color="blue">see this article</font></a> on my approach to setup a tiny home.</p><p>
                - Smart home (IoT & IoE) planning, setup, and maintenance. Consumer solutions: media management, network distributed DLNA hardware, DVR software, matrix switch setup.
               </p>
                <p> 
                <!--- 
- Computer & Network - Hardware & Software setup, <a href="https://stackshare.io/karlderdmann"><font color="blue">web developement</font></a> (Jekyll, API testing, etc.), troubleshooting, maintenance, testing, support, security, encryption, backup, and recovery (expert in Windows & Chrome OS, intermediate in Mac OS & Linux environments). General consulting in information systems & technology, data to information management (from relational databases to data management tools- sheets & excel),  & process diagramming 
                (<a href="https://en.wikipedia.org/wiki/Unified_Modeling_Language"><font color="blue">UML</font></a> & <a href="https://en.wikipedia.org/wiki/Business_Process_Model_and_Notation"><font color="blue">BPMN</font></a>), data business intelligence, infrastructure planning, 1-on-1 training.
Productivity tools & utilities; local and cloud organization solutions, system & memory management solutions,  & analysis, charting & report development and solutions,  data collection, virtual network computing (VNC) / remote assistance, SEO, Adwords, Google Developer Products (Charts, Scripts, Analytics, etc), e-commerce, financial services & mgmt, authentication. 
                </p><p> 
                -Software multi tenancy implementation, PaaS and network distributed versioning control implementation and auto deployment. Web development, static to dynamic sites,project hosting, API integration.</p>
                 </h6> --->
                    <!--<a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>-->
                </div>
            </div>
        </div>
    </section>
