 <!-- Contact Section -->
    <section class="success" id="appt">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Schedule an Appointment</h2>
                    <hr class="star-primary">
                 
<!-- Leadmonk inline widget begin -->
    <div class="leadmonk-inline-widget" data-url="https://web.leadmonk.io/stacktier_714?hideLogo=true" style="min-width:350px;height:600px;"></div>
    <script type="text/javascript" src="https://firebasestorage.googleapis.com/v0/b/leadmonk-prod.appspot.com/o/leadmonk%2Fembed%2Fleadmonk_widget.js?alt=media" async></script>
<!-- Leadmonk inline widget end -->
                 
<!--
<iframe id="appointy-iframe" class="no-border" src="https://booking.appointy.com/stacktier?isgadget=1&autoheight=1"  scrolling="no" width="100%" frameBorder="0"></iframe>
<script>
    (function() {
        const ifrm = document.getElementById("appointy-iframe");
        window.addEventListener("message", function (e) {
            const d = e.data || {};
            if (d.type === "height"){
                ifrm.style.height = d.data + "px";
            }
            if (d.type === "scroll") {
                ifrm.scrollIntoView();
            }
        });
    })();
</script> 
<a href="https://booking.appointy.com/stacktier" target="_blank"><img src="https://appointy.com/Images/scheduleme.png" alt="" border="0" /></a>
<div id="widget">
<!-- Leadmonk badge widget begin -->
<link href="https://firebasestorage.googleapis.com/v0/b/leadmonk-prod.appspot.com/o/leadmonk%2Fembed%2Fleadmonk_widget.css?alt=media" rel="stylesheet">
<script src="https://firebasestorage.googleapis.com/v0/b/leadmonk-prod.appspot.com/o/leadmonk%2Fembed%2Fleadmonk_widget.js?alt=media" type="text/javascript" async></script>
<script type="text/javascript">window.onload = function() { Leadmonk.initBadgeWidget({ url: 'https://web.leadmonk.io/stacktier_714?hideLogo=true', text: 'Book Now', color: '#245BAE', textColor: '#ffffff', branding: false }); }</script>
<!-- Leadmonk badge widget end -->
               </div>  
                  <br>
                 <br>
                Still having difficulties booking an appointment? Please consider booking on our <a  style="color: #2c3e50" href="https://stack-tier.square.site/" target="_blank"> Sqaure Page</a> or request an appointment via telephone/email/text and click the following button to submit an appointment commitment deposit:
    <br>
    <br>   
-->
             <br>
             <br>
              Alternatively click the following button to visit a seperate scheduling page appointment. 
                  
                 <br>
                 <br>              
    <!-- Load Stripe.js on your website. -->
<script src="https://js.stripe.com/v3"></script>

<!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
<button
  style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em;cursor:pointer"
  id="checkout-button-sku_FSYFsQJI9i845K"
  role="link"
  type="button"
>
  Checkout
</button>

<div id="error-message"></div>

<script>
(function() {
  var stripe = Stripe('pk_live_qke6eSmUtvRpOYpU40Q4bD6d');

  var checkoutButton = document.getElementById('checkout-button-sku_FSYFsQJI9i845K');
  checkoutButton.addEventListener('click', function () {
    /*
     * When the customer clicks on the button, redirect
     * them to Checkout.
     */
    stripe.redirectToCheckout({
      lineItems: [{price: 'sku_FSYFsQJI9i845K', quantity: 1}],
      mode: 'payment',
      /*
       * Do not rely on the redirect to the successUrl for fulfilling
       * purchases, customers may not always reach the success_url after
       * a successful payment.
       * Instead use one of the strategies described in
       * https://stripe.com/docs/payments/checkout/fulfill-orders
       */
      successUrl: 'https://stacktier.org',
      cancelUrl: 'https://stacktier.org',
    })
    .then(function (result) {
      if (result.error) {
        /*
         * If `redirectToCheckout` fails due to a browser or network
         * error, display the localized error message to your customer.
         */
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
})();
</script>        
                 </p>
                 
                             
             </div> 
        </div>
            </div>
           
        </div>
   
    </section>
