 <!-- Contact Section -->
    <section class="success" id="appt">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2></h2>
                    <hr class="star-primary">
                    
                 <!-- Start Square Appointments Embed Code --><script src='https://square.site/appointments/buyer/widget/uitv41d3hyzrmk/3RWVRHJGRPR44.js'></script>
               <!-- End Square Appointments Embed Code -->
                </div>
             <br><br>
             <p> Use alternative button below to schedule appointment on Square.</p>
             <!-- Start Square Appointments Embed code html: webkit-text-size-adjust: 100%;-->
<a target="_top" style="
background-color: #18bc9c;
border: none;
color: white;
height: 40px;
text-transform: uppercase;
font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
letter-spacing: 1px;
line-height: 21px;
padding: 19.5px 15px;
border-radius: 8px;
font-weight: 700;
font-size: 15px;
cursor: pointer;
display: inline-block;
text-align: -webkit-match-parent;
box-sizing: border-box;
                        
" href="https://squareup.com/appointments/book/uitv41d3hyzrmk/3RWVRHJGRPR44/start" rel="nofollow">Schedule Appointment</a>
<!-- End Square Appointments Embed code -->
   
            
            </div>
           
        </div>
   
    </section>
