 <!-- Contact Section -->
    <section class="success" id="appt">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Schedule an Appointment</h2>
                    <hr class="star-primary">
                    
                 <!-- Start Square Appointments Embed Code --><script src='https://square.site/appointments/buyer/widget/uitv41d3hyzrmk/3RWVRHJGRPR44.js'></script>
               <!-- End Square Appointments Embed Code -->
                </div>
             
             <p> 
              
             <br>
             <br>
             <br>
             <br>Difficulties viewing window? Please use alternative button below to schedule appointment on Square.</p>
             <br><br>
         
             
            <!-- Start Square Appointments Embed code -->
<a target="_blank" style="
background-color: #2c3e50;
border: none;
color: white;
height: 20px;
text-transform: uppercase;
font-family: 'Square Market', sans-serif;
letter-spacing: 1px;
line-height: 21px;
padding: 15px 15px;
border-radius: 8px;
font-weight: 700;
font-size: 15px;
cursor: pointer;
" href="https://squareup.com/appointments/book/uitv41d3hyzrmk/3RWVRHJGRPR44/start" rel="nofollow">Schedule Appointment</a>
<!-- End Square Appointments Embed code -->
            <br> <br>
             
             <p align="center"> Still having difficulties booking an <a href="https://stack-tier.square.site/" target="_blank"> appointment</a>? Please request an appointment via telephone/email/text and click the following button to submit an appointment commitment deposit:
    <br>
    <br>
    <button
  style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
  id="checkout-button-sku_FSYFsQJI9i845K"
  role="link"  target="_blank"
>
  Checkout
</button>
            </p>

<div id="error-message"></div>

<script>
  var stripe = Stripe('pk_live_qke6eSmUtvRpOYpU40Q4bD6d');

  var checkoutButton = document.getElementById('checkout-button-sku_FSYFsQJI9i845K');
  checkoutButton.addEventListener('click', function () {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    stripe.redirectToCheckout({
      items: [{sku: 'sku_FSYFsQJI9i845K', quantity: 1}],

      // Do not rely on the redirect to the successUrl for fulfilling
      // purchases, customers may not always reach the success_url after
      // a successful payment.
      // Instead use one of the strategies described in
      // https://stripe.com/docs/payments/checkout/fulfillment
      successUrl: 'http://stacktier.org',
      cancelUrl: 'http://stacktier.org',
    })
    .then(function (result) {
      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
</script>

        </div>
            </div>
           
        </div>
   
    </section>
