    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!--
                    <img class="img-responsive" src="img/computer.jpg" alt="logo1">
                    <span class="name">{{ site.title }}</span>
                        -->
                    <h4><span class="skills">{{ site.skills }}</span>
                    </h4>
                        <div class="intro-text">
                    </div>
                    <hr class="star-light">
                </div>
                         
                <p align="center"> Video playlist of home improvement ideas, and examples of products & services supported. 
                </p>

                    <iframe width="1200" height="500" src="https://www.youtube.com/embed/videoseries?list=PLmStRQ2ScgRj6D5SLpElu2A43QoZ_38x-&hl=en_US" frameborder="0" allowfullscreen></iframe>
   <br>
   <br>
                    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQo9aa4iUQR9G6j6QkX99HZ1ajOZfIwcPlJ21HqErBop3BvrOBOmpqgAZB9FFhjlclIvjMTfwtod8Jx/embed?start=true&loop=true&delayms=3000" 
                       frameborder="0" width="1200" height="500" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                    
      
                
                 <br>
   <br>
                
                 <script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-70e5d03d-740e-4826-ae8d-b6d4eed954a1"></div>
                    
                </div>
            </div>
        </div>
    </header>
