    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!--
                    <img class="img-responsive" src="img/computer.jpg" alt="logo1">
                    <span class="name">{{ site.title }}</span>
                        -->
                            <span class="skills">{{ site.skills }}</span>
                    <div class="intro-text">
                    </div>
                    
                    <hr class="star-light">
                    
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLmStRQ2ScgRj6D5SLpElu2A43QoZ_38x-&hl=en_US" frameborder="0" allowfullscreen></iframe>
   
                    
                </div>
            </div>
        </div>
    </header>
