
    <!-- Portfolio Grid Section -->
    <section id="rates">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Current Rates</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <br>
            <p align="center">A certain amount of consultation, planning, design, and estimation is available for free remotely, in-person visits are offered as a billable service. Please consider booking an appointment via the scheduling button on the navigation bar at the top of this page. Find a limited number of estimates for standard services offered above in the "Services" section. 
            <br>
                <br>
            We're happy to assist at any point in a project's process including takeoffs, planning, design, estimation, materials procurement, and rental of specialized equipment. There are also a good number of service organizations that specialize in these services also. Smaller projects and strict budgets will find it most affordable if the products or materials are pre-ordered and/or available on site, on the day of the appointment. An option that is often useful in these circumstances is to take careful photos or samples that could help identify materials and detail the existing space or scenario, then bring them into a retailer, send them to a product manufacturer that is able to assist, or send the images via email to me.
                
            <br>
                <br>
                Generally estimates are more accurate when details on the project are available. For example, product manuals, material specifications, or an interior designers/architects/engineers designs, measurements, elevations and plans. For specific estimate requests, please reach out via the instant chat window, contact form, email, or phone (please leave a voicemail). If an existing estimate is available from another provider, please submit details for price match consideration.
                <br>
            <br>    
            As one of the first, <a href="https://www.amazon.com/localservices/ya/sellerprofile/ref=vas_sc_spp_A3626NNLQCERB7?sellerID=A3626NNLQCERB7#amazon-reviews" target="_blank">trusted preferred providers</a> for the largest, high volume eCommerce platform, we have seen many estimates available for standardized services over the years.
            Beware of marketing promises made from departments removed from the work in the field and significant addtional markups on products and materials not mentioned. A few of the most common causes of price adjustments include; required adjustments for service provider provided materials needed in order to provide a safe solution for the specific constructed environment or a desired design approach (which is often required to allow a contractor to include a warranty on the service), price adjustments due to vaguely defined scopes of work, etc. 
            </p>
            <br>
            <div class="row">    
            <iframe width='100%' height='500' src="https://docs.google.com/spreadsheets/d/1qgg7B8BD_6iiTFlWKLGTJ6GvfdIpUX12-0lSVROHHjE/pubhtml?gid=0&single=true&amp;chrome=false&amp;widget=true&amp;headers=true"></iframe>
            </div>
            
            <br>
            <div>
            <img src="/img/Text.png" height="50%" width="50%" align="middle"><img src="/img/4_Card_color_horizontal.png" height="50%" width="50%" align="middle">            
            </div>
            
            <br>
            <!-- Load Stripe.js on your website. -->
<script src="https://js.stripe.com/v3"></script>

<!-- Create a button that your customers click to complete their purchase. Customize the styling to suit your branding. -->
<p align="center"> Having difficulties with the <a href="https://app.acuityscheduling.com/schedule.php?owner=14304677" target="_blank"> appointment form / scheduling application</a>? Please request an appointment via telephone/email/text and click the following button to submit an appointment commitment deposit:
    <br>
    <br>
    <button
  style="background-color:#6772E5;color:#FFF;padding:8px 12px;border:0;border-radius:4px;font-size:1em"
  id="checkout-button-sku_FSYFsQJI9i845K"
  role="link"  target="_blank"
>
  Checkout
</button>
            </p>

<div id="error-message"></div>

<script>
  var stripe = Stripe('pk_live_qke6eSmUtvRpOYpU40Q4bD6d');

  var checkoutButton = document.getElementById('checkout-button-sku_FSYFsQJI9i845K');
  checkoutButton.addEventListener('click', function () {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    stripe.redirectToCheckout({
      items: [{sku: 'sku_FSYFsQJI9i845K', quantity: 1}],

      // Do not rely on the redirect to the successUrl for fulfilling
      // purchases, customers may not always reach the success_url after
      // a successful payment.
      // Instead use one of the strategies described in
      // https://stripe.com/docs/payments/checkout/fulfillment
      successUrl: 'http://stacktier.org',
      cancelUrl: 'http://stacktier.org',
    })
    .then(function (result) {
      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
</script>
            <!--
            <div class="row">
                {% for post in site.posts %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
            -->
        </div>
        <br>
        <p align="center"> 
        Low-income clients may request services at proportional reduced rates. Please reference government <a href="https://www.huduser.gov/portal/datasets/il.html"><font color="blue">HUD income limits</font></a> and be willing to submit verification. 
        </p>
    </section>
