
    <!-- Portfolio Grid Section -->
    <section class="success" id="services">
        <div class="container" align="center">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Anatomy of Service Concentrations</h3>
                    <hr class="star-light">
                </div>
            <br>
            <iframe width="516.2452251773423" height="319.2152592376224" style="padding:5px" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQiaY-VX44exxvPLZBznN-CnFcmxoDVCM97O-4EmuzfQHKppzbOYcz2htmYvUaGMk9yKmMsaaoRLtqk/pubchart?oid=1336997383&amp;format=interactive">   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  </iframe><iframe width="516.2452251773423" height="319.2152592376224" style="padding:5px" seamless frameborder="0" scrolling="no" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQiaY-VX44exxvPLZBznN-CnFcmxoDVCM97O-4EmuzfQHKppzbOYcz2htmYvUaGMk9yKmMsaaoRLtqk/pubchart?oid=1742825784&amp;format=interactive"></iframe>
            <br>
                <p><font size="2.5">
                Charts are an approximate based on revenue from a partner marketplace facilitator. Last updated: 4/2020
                    </p>
            </div>
            <br>
            <br>
            
                <div class="col-lg-12 text-center">
                <h3>Service Examples</h3>
                <hr class="star-light">
                </div>
            <br>
            <div class="row">
                <iframe width='70%' height='500' src="https://docs.google.com/spreadsheets/d/1qgg7B8BD_6iiTFlWKLGTJ6GvfdIpUX12-0lSVROHHjE/pubhtml?gid=576242103&single=true&amp;chrome=false&amp;widget=true&amp;headers=true"></iframe>    
                <p>
                </p>
            </div>
            <br><br>
            <div class="row">
            <div class="col-lg-4-offset-2" align="left">
            
            <font size="4" align="center">
                                
            <h3><a href="https://docs.google.com/document/d/1aLBNYRAwxphnnEHGktEK3TtufQJ4Nu1vSzcq2Z4KAfM/edit?usp=sharing" target="_blank"><font color="blue">
            Evolving Guide and Standard Service Scopes of Work
            </font></a>
            </h3>
                <br> 
                <br>
                </font></p>
                <br>
                <iframe  width='100%' height='800' src="https://docs.google.com/document/d/e/2PACX-1vQJObhf_YbAEpLZaFMy9un2JZHV0o5Zbk8smBnmkPfgL1sRDRPSlN3JAYQyRfpfwpk0tVVd3Sp4oPsI/pub?embedded=true"></iframe>
            
            <br><br>
<p><font size="4">
             
             <br>
             The following are links an evolving list of photo albums (viewer beware, they're unedited) for a variety of service concentrations:
             <br> 
                  <ul>
                  <li>Carpentry - Interior<br></li>             
                  <ul>
                  <li><a href="https://www.icloud.com/sharedalbum/#B0D5qXGF1n12er" target="_blank"><font color="blue">Interior Systems - Speciality - TV Wall / Ceiling Mounted, Projector,  Cord Concealment (On / In Wall, Raceways, Sleeves)</font></a><br></li>
                  <li><a href="https://www.icloud.com/sharedalbum/#B0D5nhQSTqmtl9" target="_blank"><font color="blue">Interior Systems - Drywall (repair)</font></a><br></li>                   
                  <li><a href="https://www.icloud.com/sharedalbum/#B0DG6XBubLjeQo" target="_blank"><font color="blue">Interior Furnishings - Wall Hanging, Shades, Blinds, Curtains, etc.</font></a><br></li>
                  <li><a href="https://www.icloud.com/sharedalbum/#B0DGY8gBYGiouAD" target="_blank"><font color="blue">Doors & Windows - Installation & Repair </font></a><br></li>
                  <li><a href="https://www.icloud.com/sharedalbum/#B0D5Uzl7VASBqb" target="_blank"><font color="blue">Moulding & Millwork</font></a><br> </li>
                  </ul>
                  <li><a href="https://www.icloud.com/sharedalbum/#B0DGrq0zwGDCR1E" target="_blank"><font color="blue">Plumbing - Fixtures (Faucets, Toilets, etc), Supply Lines, Drains </font></a><br> </li>
                  <li><a href="https://www.icloud.com/sharedalbum/#B0D5n8hH4qYAYT" target="_blank"><font color="blue">Electrical - Outlets, Fixtures, Switches,  Fans, Panels, Sensors, etc.</font></a><br> </li>
                  <li><a href="https://www.icloud.com/sharedalbum/#B0DGI9HKKGefwAy" target="_blank"><font color="blue" >Security Systems - Wired (PoE,  BNC), Wireless</font></a><br> </li>
                  <li><a href="https://www.icloud.com/sharedalbum/#B0D5yeZFhGGoVY9" target="_blank"><font color="blue" target="_blank">Outdoor / Exterior - Construction, Assembly, Repairs, & Maintenance - Fences, Posts, Siding, Gutters, Structures, Fixtures, etc.</font></a><br> </li>
                  <li><a href="https://www.icloud.com/sharedalbum/#B0DG4TcsmG1ff6r" target="_blank"><font color="blue">Mechanical - HVAC</font></a><br>
                  </ul>
                
</font></p>
            </div> </div>
<!--
-->            
<!--  <a href=""><font color="blue"></font></a><br>
              
                <a href=""><font color="blue" target="_blank"></font></a><br>
                <a href=""><font color="blue" target="_blank"></font></a><br>
            -->
                
            
            <!--
            <div class="row">
                {% for post in site.posts %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
            -->
        </div>
    </section>
